<article class="post">
	<header>
		<div class="title">
			<h2><a>Edit Profile </a></h2>
		</div>

		<!-- User Status -->
		<div class="meta">
			<a href="#" class="author"><span class="name">{{$parent.profile.nickname}}</span><img ng-src={{$parent.profile.picture}} alt="" /></a>
			<!-- <List>
				<a href="#" class="button small">Follow 123</a>
				<a href="#" class="button small">Follower 321</a>
			</List> -->
		</div>
	</header>

	<!-- Enter Content Here -->
	<form name="profileEdit" ng-submit="submit()" novalidate>

		<h3>Nickname</h3>
		<input type="text" name="demo-name" id="demo-name" required ng-model="nickname" placeholder="Nickname*" />
		</br>
		<h3>Email</h3>
		<input type="text" name="demo-email" id="demo-email" required ng-model="email" placeholder="Email*" />
		</br>
		<button class="button large" id="upload" >Submit</button>
		<button class="button large" id="cancel" ng-click = "cancel()" >Cancel</button>
		<span ng-show="submitted && profileEdit.$invalid">&nbsp;&nbsp;&nbsp;Please fill all required fields.</span>
		<!-- Sidebar -->
		<section id="sidebar"></section>
	</form>
</article>
