<article class="post">
<header>
	<div class="title">
		<h2><a href='#' >Edit Profile </a></h2>
	</div>

	<!-- User Status -->
	<div class="meta">
		<a href="#" class="author"><span class="name">{{$parent.profile.nickname}}</span><img ng-src={{$parent.profile.picture}} alt="" /></a>
		<List>
			<a href="#" class="button small">Follow 123</a>
			<a href="#" class="button small">Follower 321</a>
		</List>
	</div>
</header>

<!-- Enter Content Here -->

<input type="text" name="demo-name" id="demo-name" ng-model="nickname" placeholder="Username" />
</br>
<input type="email" name="demo-email" id="demo-email" ng-model="email" placeholder="Email" />
</br>
<button class="button large" id="upload" ng-click = "submit()" >Submit</button>
<button class="button large" id="cancel" ng-click = "cancel()" >Cancel</button>
</article>
