<!DOCTYPE HTML>

<html ng-app = 'myapp'>
	<head>
		<title>ReciFun</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<style>
			body {
		    	background-image: url("images/img1.png");
			}
		</style>
	</head>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.js"></script>
	<body ng-controller = "mainController">
		<!-- Wrapper -->
		<div id="wrapper">

			<!-- Header -->
			<header id="header">
				<h1><a href="/">ReciFun</a></h1>
				<nav class="main">
					<ul>
						<li class="search">
							<a class="fa-search" href="#search">Search</a>
							<form id="search" method="get" action="#">
								<input type="text" name="query" placeholder="Search" />
							</form>
						</li>
						<li class="menu">
							<a class="fa-bars" href="#menu">Menu</a>
						</li>
					</ul>
				</nav>
			</header>

			<!-- Menu -->
			<section id="menu">
				<div ng-show = "userislogin"id="links">
					<section>
						<ul class="links">
							<li>
								<a href="#">
									<h3>Profile</h3>
									<div ng-show = "userislogin">
										<p>{{ profile.nickname }}</p>
										<p>{{ profile.email}}</p>
										<img ng-src={{profile.picture}} style="width:100px;height:100px;">
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<h3>Edit Profile</h3>
									<p>Personal information, edit allowed</p>
								</a>
							</li>
							<li>
								<a href="#">
									<h3>Upload Recipe</h3>
									<p>Upload a new recipe</p>
								</a>
							</li>
							<li>
								<a href="#">
									<h3>My recipes</h3>
									<p>The recipes uploaded by yourself</p>
								</a>
							</li>
							<li>
								<a href="#">
									<h3>Favorite</h3>
									<p>The recipes you saved</p>
								</a>
							</li>
							<li>
								<a href="#">
									<h3>Message</h3>
									<p>Notification, commands, etc.</p>
								</a>
							</li>
						</ul>
					</section>
				</div>

				<!-- Actions -->
				<section ng-show = "!userislogin">
					<ul class="actions vertical">
					<!-- Login -->
						<form id="login" ng-submit="submit()" ng-controller = "loginController">
							<div id="loginTextField">
								<input type="text" name="demo-name" id="demo-name" required ng-model="username" placeholder="Username" />
								</br>
								<input type="password" name="demo-password" id="demo-password" required ng-model='password' placeholder="Password" />
							</div>
							<li><input type="submit" class="button big fit" value="login"></input></li>
						</form>

						<div ng-controller = "fbloginController">
							<li><button ng-click = "fblogin()" class="button big fit"><span class="fa fa-facebook"></span> Facebook</button></li>
						</div>

						</br>

						<!-- Register -->
						<form id="register" ng-submit="submit()" ng-controller = "registerController">
							<div id="registerTextField">
								<input type="text" name="demo-name" id="demo-name" required ng-model="username" placeholder="Username" />
								</br>
								<input type="password" name="demo-password" id="demo-password" required ng-model='password' placeholder="Password" />
								</br>
								<input type="password" name="demo-password" id="demo-password" required ng-model='confirmPassword' placeholder="Confirm Password" />
							</div>
							<li><input type="submit" class="button big fit" value="Sign in"></input></li>
						</form>
					</ul>
				</section>

				<section ng-show = "userislogin">
					<ul class="actions vertical">
						<form id="logout" ng-submit="logout()">
							<li><input type="submit" class="button big fit" value="logout"></input></li>
						</form>
					</ul>
				</section>
			</section>

			<!-- Main -->
			<div id="main">
				<article class="post">
					<header>
						<div class="title">
							<h2><a href='#' >category </a></h2>
						</div>

						<!-- User Status -->
						<div class="meta" ng-show = "userislogin">
							<a href="#" class="author"><span class="name">{{profile.nickname}}</span><img ng-src={{profile.picture}} alt="" /></a>
							<List>
								<a href="#" class="button small">Follow 123</a>
								<a href="#" class="button small">Follower 321</a>
							</List>
						</div>
						<div class="meta" ng-show = "!userislogin">
							<a href="#" class="author"><span class="name">Hello there!</span><img ng-src="https://s3-us-west-2.amazonaws.com/langwang1/uploads/photos/d1880ef0-e9b7-11e5-8a6d-93c8e299b24e.gif" alt="" /></a>
						</div>
					</header>

					<div ng-view></div>

					<!-- Sidebar -->
					<section id="sidebar">

						<!-- Intro -->
						<section id="intro">
							<header>
								<h4>ReciFun</h4>
								<p color="#FFFAFA">
								This is a recipe app with great photo steps. Our aim is to find a easier way to cook.</p>
							</header>
						</section>
					</section>
				</article>
			</div>
		</div>

		<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/skel.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>
		<script src="assets/js/angular/app.js"></script>
		<link href="assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">

	</body>
</html>
